.table {
  th, td {
    vertical-align: middle;
  }
}

@include media-breakpoint-down(lg) {
  .table {
    thead {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0;
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden;
    }

    tbody,
    tr,
    th,
    td {
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
    }

    tr {
      td, th {
        padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    th[scope="row"] {
      width: 100%;
      text-align: center;
      display: block;
      background-color: #B3BFC6;
      margin: 0 auto;
      padding: .5em 0;
    }

    td[data-header]:before {
      content: attr(data-header);
      float: left;
      font-weight: bold;
    }

    td[data-header] > * {
      display: block;
      width: 50%;
      float: right;
      clear: right;
      padding-left: 1em;
      margin-top: 0;
    }

    .actions {
      display: flex;
      align-content: center;
      justify-content: end;
      width: 100%;
    }
  }
}
